// navbar
$navbar-bg: #222;
$navbar-bg-secondary: #000;
$navbar-text: #ddd;
$navbar-text-secondary: #aaa;
$navbar-accent: rgb(219, 74, 74);

// browser-side
$selection-color: #ddd;
$scrollbar-track: #ccc;
$scrollbar-handle: #777;
$scrollbar-handle-hover: #888;
